* {
    font-size: 2vw;
}
.Toolbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:4px 16px;
    box-sizing: border-box;
    z-index: 90;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.15);
}
.LeftOptionContainer {
    display: inline-flex;
}
.mainNavLinks {
    padding-left: 2.5em;
    padding-top: 0.5em;
}
.Title {
    color: rgba(231, 62, 90);
    font-size: 5em;
}
@media only screen and (min-width: 1025px) {
    .Title {
        font-size: 1.5em;
    }
    
}

@media only screen and (max-width: 1024px) {
    .mainNavLinks {
        display: none;
    }
}