.LoginContainer {
    height: 100vh;
    width: 100%;
    background-color: #fce8e8;
}
.LoginContent {
    margin: auto;
    top: 30%;
    left: 35%;
    position: absolute;
    background-color: white;
    padding: 32px;
}