.navContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30vw;
}
li {
    cursor: pointer;
    list-style:none;
    font-family: 'Heebo', sans-serif;
    color: gray;
    font-size: 0.5em;
    
}
li:hover {
    color: rgba(231, 62, 90);
}
@media only screen and (max-width: 1024px){
    .navContainer {
        flex-flow: column;
        width: 100%;
        align-items: center;
    }
    li {
        font-size: 3em;
        padding-bottom: 8px;
        color: gray;
    }
}